body {
  min-height: 100vh;
  background: url(../assets/background.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}

main {
  position: relative;
  z-index: 1;
}

section {
  padding: 3rem;
}
